<%include _header%>
<a href="/registro_equipo" class="btn btn-primary pull-right">
    Registra un nuevo equipo
</a>
<h1>Bienvenid@ al equipamiento</h1>
<% equipment.forEach((equipo) => {%>
    <div class="panel panel-default">
    <div class="panel-heading">
        <%if(equipo.category){%>

    <h2>Categoria: <%=equipo.category%></h2>
    <%}else{%>
    <h2>sin categoria</h2>
    <% } %>
    </div>
    
    <%if (equipo.defense){%>
    <div class="panel-body"><h3>Descripción: <%= equipo.description %></h3></div>
    <div class="panel-body"><h3> Defensa: <%= equipo.defense %></h3></div>
    <div class="panel-body"><h3>Peso: <%= equipo.weight %></h3></div>
<%}%>

    </div>
    

<% }) %>

<%include _footer%>