<%include header%>

<table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Zombie</th>
        <th scope="col">Habita</th>
        <th scope="col">Arma que puede usar</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>El carroñero</td>
        <td>Seattle</td>
        <td>Bate</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>crimson head</td>
        <td>Thornton</td>
        <td>R-45</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>La enfermera</td>
        <td>Silent hill</td>
        <td>Bisturi</td>
      </tr>

      <tr>
        <th scope="row">4</th>
        <td>pyramid head</td>
        <td>Silent hill</td>
        <td>Hacha gigante</td>
      </tr>
    </tbody>
  </table>
<%include footer%>