<%include header%>




<table style="margin: 0 auto;">
    <thead>
    <tr>
        <th>Clase</th>
        <th>Imagen</th>
    </tr>
    </thead>
    <tr>
        <td style="font-size: 20px; ">El carroñero</td>
        <td><img style="width:500px;" src="../recursos/zombie1.jpg"></td>
    </tr>
    <tr>
        <td style="font-size: 20px; ">crimson head</td>
        <td><img style="width:500px;"  src="../recursos/zombie2.jpg"/></td>
    </tr>
    <tr>
        <td style="font-size: 20px; ">El desquiciado</td>
        <td><img style="width:500px;" src="../recursos/zombie3.jpg"/></td>
    </tr>
    <tr>
        <td style="font-size: 20px; ">La enfermera</td>
        <td><img style="width:500px;" src="../recursos/zombie4.jpg"/></td>
    </tr>
    <tr>
        <td style="font-size: 20px; ">pyramid head</td>
        <td><img style="width:500px;" src="../recursos/zombie5.jpg"/></td>
    </tr>
    </table>
<%include footer%>