<%include header%>


    <table class="table table-dark">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Clase</th>
            <th scope="col">Imagen</th>
            
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td style="font-size: 20px; ">El carroñero</td>
        <td><img style="width:500px;" src="../recursos/zombie1.jpg"></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td style="font-size: 20px; ">crimson head</td>
            <td><img style="width:500px;"  src="../recursos/zombie2.jpg"/></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td style="font-size: 20px; ">El desquiciado</td>
            <td><img style="width:500px;" src="../recursos/zombie3.jpg"/></td>
          </tr>
    
          <tr>
            <th scope="row">4</th>
            <td style="font-size: 20px; ">La enfermera</td>
            <td><img style="width:500px;" src="../recursos/zombie4.jpg"/></td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td style="font-size: 20px; ">pyramid head</td>
            <td><img style="width:500px;" src="../recursos/zombie5.jpg"/></td>
          </tr>
        </tbody>
      </table>
<%include footer%>