<br/>
<br/>                    
<!-- Footer -->

<footer id="footer" class="navbar navbar-inverse navbar-fixed-bottom">

 
  <!-- Footer Links -->

  <!-- Copyright -->
  <div style="color: aliceblue; " class="footer-copyright text-center py-3">© Daniela Martinez Copyright:
    <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

</body>
</html>