< % include header %>
<div id="imagen_principal">
    <img class="center-block" src="https://78.media.tumblr.com/cfcbc60da383e9235e52d5ab000d69f5/tumblr_p9mb5diQL01ta0kouo1_500.png" alt="">
    </div>
<% include footer %>