<%include header%>
<h2>Agrega una nueva victima</h2>
<form method="post" role="form">
<div class="form-group">
    <label for="title">Nombre y apellido</label> 
    <input type="text" class="form-control" id="title" name="title" placeholder="Escribe el nombre y apellido de la victima" required/>
   <label for="Direccion">Direccion</label> 
   <input type="text" class="form-control" id="Direccion" name="Direccion" placeholder="Escribe la direccion de la victima" required/>
   <label for="instagram">instagram</label> 
   <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Escribe el instagram de la victima" required/>
</div>
<div class="form-group">
    <label for="body">mensaje</label>
    <textarea class="form-control" id="body" name="body" placeholder="escribir un mensaje"rows="3" required></textarea>
</div>
<div class="form-group">
<input type="submit" class="btn btn-primary" value="Aceptar">

</div>

</form>

<%include footer%>